--- title: Aboutme date: 2015-11-17 01:00:51 layout: page ---
<style>
	.twitterbird {
		margin-bottom: 10px;
		width: 100%;
		height: 550px;
		display: block;
		background: transparent url('../images/promo.jpg') center top no-repeat;
		/*background:transparent url('../images/page-opensource/jukebox_large@2x.jpg') center top no-repeat;*/
		background-size: 100%;
		/*background-size: 100%;*/
	}
	
	.twitterbird:hover {
		background-image: url('../images/promo.gif');
		background-size: 100%;
	}
</style>
<!--<a href="http://twitter.com/me" class="twitterbird" title="Twitter link"></a>-->
<!--<a href="TARGET URL GOES HERE"><img src="URL OF FIRST IMAGE GOES HERE" 
onmouseover="this.src='URL OF IMAGE ON HOVER GOES HERE'"
onmouseout="this.src='URL OF FIRST IMAGE GOES HERE AGAIN'" /></A>-->


<link rel="stylesheet" href="./main.css" />

<div>

	<a class="twitterbird" title="Twitter link"></a>

</div>

<div id="main">



	<div class="inner">
		<header>
			<h1>Explore the many facets Nancy has built her reputation on<br /> from Youtube <a href="http://momedycomedy.com"> to facebook</a>.</h1>
			<!--<p>../images/pic01.jpg class="img-responsive" article class="style1" </p>-->
		</header>


		<section class="tiles">
			<article style="width:100%">
				<span class="image">
				<img src="../images/page-opensource/jukebox_large@2x.jpg" alt="" />
				</span>
				<a href="https://www.youtube.com/user/NANCYLOMBARDO4FUN/videos">
					<h2>Youtube</h2>
					<div class="content">
						<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
					</div>
				</a>
			</article>
			<article>
				<span class="image wow fadeIn">
							<img src="../images/Momedy-live.jpg" alt="" />
							</span>
				<a href="/video">
					<h4>Momedy Live</h4>

					<h2>Promo</h2>


				</a>
			</article>


			<article>
				<span class="image wow fadeIn">
										<img src="../images/Blogtalkradio.png" alt="" />
									</span>
				<a href="/blogtalk">
					<h2>Blog Talk Radio</h2>
					<div class="content">
						<p>Listen to Nancy every Monday & Friday at 10am.</p>
					</div>
				</a>
			</article>
			<article class="style22 wow fadeIn">
				<span class="image">
	<img src="../images/videomnn.png" alt="" />	</span>
				<a href="/videomnn">
					<h2>Community TV</h2>
					<h2>mnn.org</h2>
					<div class="content">
						<p>Watch nancy every friday at 7pm.</p>
					</div>
				</a>
			</article>




			<article class="style1 wow fadeIn">
				<span class="image">
							<img src="../images/gigsalad.png" alt="" />
							</span>
				<a href="https://www.gigsalad.com/nancy_lombardo_new_york_city">
					<h4>Book me on here</h4>

					<h2>Gigsalad</h2>
					<p>have comedy will travel</p>
					<div class="content">
						<p></p>
					</div>
				</a>
			</article>

			<article class="style2 wow fadeIn">
				<span class="image">
										<img src="../images/aboutme.png" alt="" />
									</span>
				<a href="/about">
					<h2>aboutme</h2>
					<div class="content">
						<p></p>
					</div>
				</a>
			</article>

			<article>
				<span class="image wow fadeIn">
										<img src="../images/live cube.gif" alt="" />
									</span>
				<a href="/about">
					<h2>aboutme</h2>
					<div class="content">
						<p></p>
					</div>
				</a>
			</article>





			<article class="style4 wow fadeIn">
				<span class="image">
										<img src="../images/pic04.jpg" alt="" />
									</span>
				<a href="generic.html">
					<h2>Tempus</h2>
					<div class="content">
						<p>images/pic04.jpg.</p>
					</div>
				</a>
			</article>
			<article class="style5 wow fadeIn">
				<span class="image">
										<img src="../images/pic05.jpg" alt="" />
									</span>
				<a href="generic.html">
					<h2>Aliquam</h2>
							<p>show message Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
				
					<div class="content">
						<p>Hiver Message.</p>
					</div>
				</a>
			</article>
			<article class="style6 wow fadeIn">
				<span class="image">
										<img src="../images/pic06.jpg" alt="" />
									</span>
				<a href="generic.html">
					<h2>Veroeros</h2>
					<div class="content">
						<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
					</div>
				</a>
			</article>
			<article class="style2 wow fadeIn">
				<span class="image">
										<img src="../images/pic07.jpg" alt="" />
									</span>
				<a href="generic.html">
					<h2>Ipsum</h2>
					<div class="content">
						<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
					</div>
				</a>
			</article>
			<article class="style3 wow fadeIn">
				<span class="image">
										<img src="../images/pic08.jpg" alt="" />
									</span>
				<a href="generic.html">
					<h2>Dolor</h2>
					<div class="content">
						<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
					</div>
				</a>
			</article>
			<article class="style1 wow fadeIn">
				<span class="image">
										<img src="../images/pic09.jpg" alt="" />
									</span>
				<a href="generic.html">
					<h2>Nullam</h2>
					<div class="content">
						<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
					</div>
				</a>
			</article>
			<article class="style5 wow fadeIn">
				<span class="image">
										<img src="../images/pic10.jpg" alt="" />
									</span>
				<a href="generic.html">
					<h2>Ultricies</h2>
					<div class="content">
						<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
					</div>
				</a>
			</article>
			<article class="style6 wow fadeIn">
				<span class="image">
										<img src="../images/pic11.jpg" alt="" />
									</span>
				<a href="generic.html">
					<h2>Dictum</h2>
					<div class="content">
						<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
					</div>
				</a>
			</article>
			<article class="style4 wow fadeIn">
				<span class="image">
										<img src="../images/pic12.jpg" alt="" />
									</span>
				<a href="generic.html">
					<h2>Pretium</h2>
					<div class="content">
						<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
					</div>
				</a>
			</article>
		</section>
	</div>
</div>

<!---->