---
title: Video MNN
date: 2015-11-17 01:00:51
layout: page
---
<div class="row margin-bottom-40">
	<div class="col-md-12 col-sm-12">
		<div class="content-page">
			<div class="col-sm-12">
				<div class="row">

					<p>Video MNN</p>
					<video width="800" title="mnn = 527-28mins" controls autoplay>
						<source src="../videos/17870_527.mp4" type="video/mp4">
						<source src="mov_bbb.ogg" type="video/ogg"> Your browser does not support HTML5 video.
					</video>

				</div>


			</div>
		




		</div>
	</div>
</div>