---
title: Characters
layout: page
date: 2015-11-29 21:00:03
---
<!-- <a class="recent-work-description" href="https://api.dentalsave.com/api/dentoff?zip=10022&miles=5&first=0&last=0&practice=0&specialty=0&startpos=0&map=N" target='_blank'>
		img  height='200' width		fad</a> -->
		 <style>
	 /*images with the same width*/
.crop {
    height: 300px;
    /*width: 400px;*/
    overflow: hidden;
}
.crop img {
    height: auto;
    width: 100%;
}
	 </style>
<h2 class="no-top-space">
	Nancy's Characters</h2>

<div class="row front-team">
	<ul class="list-unstyled">
		<div class="row">
			<li class="col-md-3">
				<div class="thumbnail">
					<img src='/images/characters/Actress.jpg'>
					<h3>
						<strong>Actress</strong>
						</h3>
						<!-- <small>Card Reader Extrodanier</small>
					
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->

				</div>
			</li>
			<li class="col-md-3">
				<div class="thumbnail">
					<img src='/images/characters/Comedian.jpg'>
					<h3>
						<strong>Comedian</strong>
						<!-- <small>Chief Executive Officer / CEO</small> -->
					</h3>
					<!-- <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->

				</div>
			</li>
			<li class="col-md-3">
				<div class="thumbnail">
					<img src='/images/characters/Emcee.jpg'>
					<h3>
						<strong>Emcee</strong>
						<!-- <small>Chief Executive Officer / CEO</small> -->
					</h3>
					<!-- <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->

				</div>
			</li>
			<li class="col-md-3">
				<div class="thumbnail">
					<img src='/images/characters/Gypsy.jpg'>
					<h3>
						<strong>Roast</strong>
						<!-- <small>Chief Executive Officer / CEO</small> -->
					</h3>
					<!-- <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->

				</div>
			</li>
		</div>

		<div class="row">
			<li class="col-md-3">
				<div class="thumbnail">
					<img src='/images/characters/Holiday.jpg'>
					<h3>
						<strong>Holiday</strong>
						<!-- <small>Card Reader Extrodanier</small> -->
					</h3>
					<!-- <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->

				</div>
			</li>
			<li class="col-md-3">
				<div class="thumbnail">
					<img src='/images/characters/Holidayelf.jpg'>
					<h3>
						<strong>Holiday</strong>
						<!-- <small>Chief Executive Officer / CEO</small> -->
					</h3>
					<!-- <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->
				</div>
			</li>
			<li class="col-md-3">
				<div class="thumbnail">
					<img src='/images/characters/jazz-housewife.jpg'>
					<h3>
						<strong>Jazz-housewife</strong>
						 <small>Solo Show</small> 
					</h3>
					<!-- <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->
				</div>
			</li>
			<li class="col-md-3">
				<div class="thumbnail">
					<img src='/images/characters/JudgeJudy.jpg'>
					<h3>
						<strong>Impersonator</strong>
						<!-- <small>Throw the hammer</small> -->
					</h3>
					<!-- <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->
				</div>
			</li>
		</div>

		<li class="col-md-3">
			<div class="thumbnail">
				<img src='/images/characters/Mockmotivationalspeaker.jpg'>
				<h3>
					<strong>Mock motivational speaker</strong>
					<!-- <small>Card Reader Extrodanier</small> -->
				</h3>
				<!-- <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->

			</div>
		</li>
		<li class="col-md-3">
			<div class="thumbnail">
				<img src='/images/characters/nunroast.jpg'>
				<h3>
					<strong>Nun Roast</strong>
					<!-- <small>Chief Executive Officer / CEO</small> -->
				</h3>
				<!-- <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->

			</div>
		</li>
		<li class="col-md-3">
			<div class="thumbnail">
				<img src='/images/characters/Roast.jpg'>
				<h3>
					<strong>Roast</strong>
					<!-- <small>Chief Executive Officer / CEO</small> -->
				</h3>
				<!-- <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p> -->

			</div>
		</li>






	</ul>
</div>
<!-- <p>I added the following to root (not the themes directory) \source\_data\images.yml</p> -->