<!-- BEGIN SOCIAL -->

  <ul class="social-footer list-unstyled list-inline pull-right">
   
   
    <% for(var s in theme.social) { %>
      <li><a target="_blank" href="<%- url_for(theme.social[s]) %>"><i class="fa fa-<%= s %>"></i></a></li>
    <% } %>
  </ul>  

<!-- END SOCIAL -->
