		<div class="item">
							<blockquote>
								<p>

								</p>
							</blockquote>
							<div class="carousel-info">
								<img src='../metronic/assets/pages/img/people/img5-small.jpg'>
								<div class="pull-left">
									<span class="testimonials-name">Roni </span>
									<span class="testimonials-post">Bergen </span>
								</div>
							</div>
						</div>



<div class="item">
<blockquote>
<p> Very funny lady!
Nancy Lombardo provided our non-profit organization with a very funny and personal act. She is professional and charming. We received so many positive comments from the audience. She did a great job and we thank her.
</p>
</blockquote>
<div class="carousel-info">
<img src='../metronic/assets/pages/img/people/img5-small.jpg'>
<div class="pull-left">
<span class="testimonials-name">Roni W. Bergen </span>
<span class="testimonials-post">Bergen County SPCA Fundraiser in Garfield, NJ</span>
</div>
</div>
</div>



<div class="item">
<blockquote>
<p> 

</p>
</blockquote>
<div class="carousel-info">
<img src='../metronic/assets/pages/img/people/img5-small.jpg'>
<div class="pull-left">
<span class="testimonials-name">Roni </span>
<span class="testimonials-post">Bergen </span>
</div>
</div>
</div>


<div class="item">
<blockquote>
<p> 
Funny and So Much More!
Nancy Lombardo is one funny lady! I've seen her perform a number of times and she is a crowd pleaser. Audiences love her: her great sense of humor, wonderful singing voice, and high spirits. She is professional and always willing to go the extra mile to make the performance a success. She is also a pleasure to work with.

</p>
</blockquote>
<div class="carousel-info">
<img src='../metronic/assets/pages/img/people/img5-small.jpg'>
<div class="pull-left">
<span class="testimonials-name">Rabbi J. H.  </span>
<span class="testimonials-post">The Actors' Temple Concert Venue in New York City, NY </span>
</div>
</div>
</div>

<div class="item">
<blockquote>
<p> 
HOLIDAY PARTY
Nancy you were a pissa! You kept the whole room laughing and in great spirits- everyone has been calling and telling us what a great time they had and how much they enjoyed you!

</p>
</blockquote>
<div class="carousel-info">
<img src='../metronic/assets/pages/img/people/img5-small.jpg'>
<div class="pull-left">
<span class="testimonials-name">Maria S.  </span>
<span class="testimonials-post">Preferred plastics and packaging Holiday Party (Christmas) in Lyndhurst, NJ </span>
</div>
</div>
</div>


<div class="item">
<blockquote>
<p> 
Fun and funny lady
Nancy made our annual Ladies Tennis Dinner a night of cackling and fun with her refreshing sense of humor and uplifting spirit. The feedback from all the tennis ladies at the dinner was positive 

</p>
</blockquote>
<div class="carousel-info">
<img src='../metronic/assets/pages/img/people/img5-small.jpg'>
<div class="pull-left">
<span class="testimonials-name">Penny P.  </span>
<span class="testimonials-post">Douglaston Club Club/Nightclub in New York City, NY  </span>
</div>
</div>
</div>


<div class="item">
<blockquote>
<p> 
Hilarious!
We all loved Nancy's performance and laughed the entire night. I would definitely hire her again! 

</p>
</blockquote>
<div class="carousel-info">
<img src='../metronic/assets/pages/img/people/img5-small.jpg'>
<div class="pull-left">
<span class="testimonials-name">Yvette G.  </span>
<span class="testimonials-post">CSX Intermodal Christmas Party in Newark, NJ </span>
</div>
</div>
</div>


<div class="item">
<blockquote>
<p> 
Funny, flexible and highly energetic!
We recently hired Nancy to perform at our New Moms Group Reunion. Without missing a beat she provided the comedy relief new parents could appreciate. She was a true professional, talented, easy to work but most of all adaptable. She was very willing to meet our needs and was so understanding. Thank you Nancy!

</p>
</blockquote>
<div class="carousel-info">
<img src='../metronic/assets/pages/img/people/img5-small.jpg'>
<div class="pull-left">
<span class="testimonials-name">Gladys E.  </span>
<span class="testimonials-post"> Reunion in New York City, NY </span>
</div>
</div>
</div>


<div class="item">
<blockquote>
<p> 
Nancy is all around talent.
I've known Nancy Lombardo for many years and have hired her numerous times to do my Comedy show events, for hosting and for private parties. The last show she worked for me she was voted best comic of the night! She always does a fantastic job and is easy to work with. If you are looking for funny act with songs as well, Nancy is your girl.

</p>
</blockquote>
<div class="carousel-info">
<img src='../metronic/assets/pages/img/people/img5-small.jpg'>
<div class="pull-left">
<span class="testimonials-name">Fran C.  </span>
<span class="testimonials-post">Fran Capo Seminars Club/Nightclub in East Moriches, NY </span>
</div>
</div>
</div>


<div class="item">
<blockquote>
<p> 
Nancy Lombardo is Fantastic!
I hired Nancy to perform at my sister's bridal shower this past Saturday. She was amazing. She had the whole room laughing hysterically. She put a lot of work into the show. We emailed each other constantly during the days leading up to the event so that she could gather details and information about the bride to be. She then seamlessly weaved these little facts and details into her show. She was professional, on time and reasonably priced. I look forward to working with Nancy again.

</p>
</blockquote>
<div class="carousel-info">
<img src='../metronic/assets/pages/img/people/img5-small.jpg'>
<div class="pull-left">
<span class="testimonials-name">Myriam H.  </span>
<span class="testimonials-post">Bridal Shower in New York City, NY</span>
</div>
</div>
</div>



<div class="item">
<blockquote>
<p> 
Nancy Lombardo Rocks!
Nancy Lombardo has opened the International MAMAPALOOZA Festival in NYC for 9 years running. She's funny, fabulous and thousands of families show up each year to hear what she's going to say next!

</p>
</blockquote>
<div class="carousel-info">
<img src='../metronic/assets/pages/img/people/img5-small.jpg'>
<div class="pull-left">
<span class="testimonials-name">Joy R.  </span>
<span class="testimonials-post">Festival in New York City, NY  </span>
</div>
</div>
</div>


<div class="item">
<blockquote>
<p> 
Commercial booking I hired Nancy for
Whenever I have a client that does not have money for a casting and needs a spot on funny actress I call Nancy. Over the years, I have booked her without doing a casting. The client was always happy! She is professional, funny, and very directable.   

</p>
</blockquote>
<div class="carousel-info">
<img src='../metronic/assets/pages/img/people/img5-small.jpg'>
<div class="pull-left">
<span class="testimonials-name">Michele Pulice</span>
<span class="testimonials-post">Michele Pulice Casting, NYC </span>
</div>
</div>
</div>


<div class="item">
<blockquote>
<p> 
Terrific performance
Nancy did a comedy performance for a bridal shower and had all of the guests roaring with laughter. Everyone loved the show--especially the bride-to-be.

</p>
</blockquote>
<div class="carousel-info">
<img src='../metronic/assets/pages/img/people/img5-small.jpg'>
<div class="pull-left">
<span class="testimonials-name">Barbara B.  </span>
<span class="testimonials-post">Bridal Shower in New York City, NY  </span>
</div>
</div>
</div>


<div class="item">
<blockquote>
<p> 
Amazing, Nancy Lombardo is a class act!
Nancy Lombardo is hilarious every time I have seen her. She has quirky characters that nobody does and everyone loves. She is unique and connects with her audience regardless of how huge the crowd is.

</p>
</blockquote>
<div class="carousel-info">
<img src='../metronic/assets/pages/img/people/img5-small.jpg'>
<div class="pull-left">
<span class="testimonials-name">Carol S.  </span>
<span class="testimonials-post">Club/Nightclub in Merrick, NY  </span>
</div>
</div>
</div>


<div class="item">
<blockquote>
<p> 
Nancy Lombardo at a Mother's Day Brunch
Nancy was Great. She was professional in every aspect. She showed up on time, entertained every one with comedy and music. She left the audience feeling great. When she was done with the show she talked to the mothers, took pictures and answered questions. Thank you for making our Mothers Day Brunch a success.

</p>
</blockquote>
<div class="carousel-info">
<img src='../metronic/assets/pages/img/people/img5-small.jpg'>
<div class="pull-left">
<span class="testimonials-name">Mike K.  </span>
<span class="testimonials-post">Temple Livingston NJ  </span>
</div>
</div>
</div>


<div class="item">
<blockquote>
<p> 
Life of the party
Thank you so much! Everyone loved you. You are on every one of those kids' snap chat feeds lol. Awesome job! So tailored for Amber and including almost every one there. Perfect. We loved it!!!! THANK YOU!!!!!!

</p>
</blockquote>
<div class="carousel-info">
<img src='../metronic/assets/pages/img/people/img5-small.jpg'>
<div class="pull-left">
<span class="testimonials-name">Alia F. </span>
<span class="testimonials-post">NYC </span>
</div>
</div>
</div>
