---
title: About Us
date: 2015-11-17 01:00:51
layout: page
---



<div class="container-fluid flush-with-header">


    <h2 class="fadeInLeft wow" data-wow-delay="0.2s">Committed to keeping current</h2>
    <h4 class="wow fadeIn">Greater Than Zero, Inc. (GTZ) is a software development company headquartered in New York City. Since 1993, GTZ has delivered services and solutions to medium and small businesses throughout the tri-state area. %nbsp;Beginning with the goal of delivering data-driven solutions.  We are now dedicated to providing web based applications that facilitate a new generation of cloud enabled applications. &nbsp;We have developed products across multiple industries and market sectors including: insurance, NYC building compliance,
	 art gallery management, building management and local unions.
        <br>  <br>  
		  Most recently, Greater Than Zero has focused on full stack open source JavaScript development using MongoDB, Express, Angular, Aurelia and Node.js. As part of our strategy to remain on the cutting edge of development, we are committed to actively contributing to the development community through public GitHub accounts and Meetups. We continually monitor all developments in the open source community and evaluate the tools in our stack to insure that we employ the best of breed products. While we rely on a REST API, we provide real-time support through Socket.IO. All our new development platforms are responsive using Twitter's Bootstrap or Google's Materialize as our CSS platform. 
        <br>  <br> 
Greater Than Zero products and services are powered by a unique class of applications that provide easy to navigate web applications 
helping our clients make better business decisions. Efficient data views can unlock significant value by making information 
transparent and usable. Over the years, GTZ has remained on the cutting edge of development technology,
 totally revamping its approach to programming while employing decades of experience designing small to medium scale information systems. 
 Our solutions are data-intensive web applications that subscribe to the promise that cloud computing can cut costs
  and reduce time-to-market by automatically scaling applications. Our solutions provide the platform and services to enable 
  businesses of any size to deliver highly scalable and cloud portable applications.
<br>  <br> 


    
	       
	</h4>
	<br>  <br> 



<!-- BEGIN LISTS We are headquartered in New York City.-->
<div class="row front-lists-v1">

    <div class="col-md-6">
        <ul class="list-unstyled margin-bottom-20">
            <li>
                <i class="fa fa-check"></i> Aurelia </li>
            <li>
                <i class="fa fa-check"></i> Angular </li>
            <li>
                <i class="fa fa-check"></i> React-Native</li>

            <li>
                <i class="fa fa-check"></i> JavaScript</li>
				  <li>
                <i class="fa fa-check"></i> MongoDB </li>

            <li>
                <i class="fa fa-check"></i> KOA</li>
            <li>
                <i class="fa fa-check"></i> Express</li>
           
  				


        </ul>
    </div>
    <div class="col-md-6">
        <ul class="list-unstyled">
            <li>
                <i class="fa fa-check"></i> Node.js </li>
            <li>
                <i class="fa fa-check"></i> Strapi/Trails/Sails </li>
          
            <li>
                <i class="fa fa-check"></i> CSS </li>
				<li>
                <i class="fa fa-check"></i> Materliaze CSS</li>

            <li>
                <i class="fa fa-check"></i> Meetups </li>
            <li>
                <i class="fa fa-check"></i> Bootstrap </li>
            <li>
                <i class="fa fa-check"></i> Socket.IO </li>
        </ul>
    </div>
</div>
<!-- END LISTS -->

</div>