---
title: Video
layout: page
date: 2015-11-29 21:00:03
---
<!--no spaces above  -->
<!--mnn = 527-28mins  -->
<div class="row margin-bottom-40">
	<div class="col-md-12 col-sm-12">
		<div class="content-page">
			<div class="col-sm-12">
				<div class="row">
					<p>Promo</p>
					<video width="800" title="mnn - promo" controls autoplay>
						<source src="../videos/Nancy Lombardo JAZZ Housewife.mp4" type="video/mp4">
						<source src="mov_bbb.ogg" type="video/ogg"> Your browser does not support HTML5 video.
					</video>
				</div>
			</div>
		</div>
	</div>
</div>