title: Gallery
layout: pagegallery
date: 2015-11-29 21:00:03
---

<h2 class="no-top-space">photo gallery</h2>
<h4><p>One of my hobbies when not coding!</p>
<p>Check this page in August of 2018.</p></h4>


	<!--
   <a class="recent-work-description" href="https://api.dentalsave.com/api/dentoff?zip=10022&miles=5&first=0&last=0&practice=0&specialty=0&startpos=0&map=N" target='_blank'>
				fad</a>


 use https://github.com/ptsteadman/hexo-theme-corporate and followed this blog, 
tried many variations but not getting the
  data. 1) I added the following to root (not the themes directory) \source\_data\images.yml


  
   -->