
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LIBaroque</title>
    <!-- Bootstrap -->
	<!-- <link href="css/bootstrap.css" rel="stylesheet"> -->
    <link rel="shortcut icon" href="favicon.ico">
	<link href="css/bootstrap-3.3.4.css" rel="stylesheet" type="text/css">
	<style type="text/css">
	body,td,th {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
body {
	background-color: #FFFFFF;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight: normal;
}
    </style>
	<link href="css/styles.css" rel="stylesheet" type="text/css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
  <body>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
  <script src="js/jquery-1.11.2.min.js"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed --> 
	<!-- <script src="js/bootstrap.js"></script> -->
  <script src="js/bootstrap-3.3.4.js" type="text/javascript"></script>
  <div class="container-fluid">
    <nav class="navbar navbar-default"><img src="images/logo.white.jpg" width="77" height="75" alt=""/>THE LONG ISLAND BAROQUE ENSEMBLE <a href="about.html">About|</a> <a href="locations.html">Concert Locations|</a> <a href="artists2014-15.html">Artists-2014-15|</a> <a href="index.html">Schedule|</a><a href="Tickets.html">Tickets</a> 
      <div align="right">154 W 123 St New York, NY 10027 212-222-5795<a href="mailto:info.longislandbaroque@gmail.com"> info.longislandbaroque@gmail.com</a></div>
      <div align="rcenter">

      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="A2DMXDYKCM9AJ">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


      </div>
    </nav>
    <h2 align="center" style="float: left;"><img src="images/scheduleheader.jpg" width="170" height="158" alt="" />
    Concert Schedule 2015-2016</h2>

    <table width="80%" border="0" align="center" >
      <tbody>
        <tr>
          <td>                 <p>&nbsp;</p>
            <p>The Long Island Baroque Ensemble series is made possible by 
            New York State Council on the Arts with the support of Governor Andrew Cuomo and the New York State Legislature, and the generosity o<img src="images/NYSCALogoGreen.png" width="198" height="79" alt="" style="float: right;"/>f supporters like you! 
          Your tax deductible donation ensures outstanding performances on Long Island.</p>
            <p><br>
          </p></td>
        </tr>
        <tr>
          <td> <p id="OB"><img src="images/GFHandel.jpg" width="132" height="131" alt="" style="float: left;"/><strong>George Frideric Handel, From Italy to Ireland</strong>. 
          <em>November 7 8 pm. Smithtown;</em> November 8 3 pm. Oyster Bay </p></td>
        </tr>
        <tr>
          <td><p><strong>A Renaissance Holiday</strong> LIBE’s Annual Season Festivities<img src="images/Angelplaying.jpg" width="128" height="143" alt="" style="float: right;"/>.<em> December 19 8 pm. Smithtown;</em> December 20 3 pm. Oyster Bay </p>
          <br></td>
        </tr>
        <tr>
          <td><p><img src="images/alba.jpg" width="115" height="146" alt="" style="float: left;"/></p>
            <p>ALBA Consort <strong>Over the Pyrenees</strong>, Early Music of France and Spain
          With Special Guest Singers and Dancers. <em>January 30 8 pm. Smithtown;</em> January 31 3 pm. Oyster Bay</p></td>
        </tr>
        <tr>
          <td><p>&nbsp;</p>
          <p><strong>Bach's World</strong> LIBE's Annual Tribute to Johann Sebastian Bach. <em>March 5th 8 p<img src="images/jsbach.jpg" width="108" height="134" alt="" style="float: right;"/>m. Smithtown;</em> March 6th 3pm. Oyster Bay</p></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><img src="images/fortepiano.jpg" width="99" height="129" alt="" style="float: left;"/><strong>Mozart and More!</strong> Classical program to include the Pianoforte. <em>May 7th 8 pm. Smithtown;</em> May 8th 3pm. Oyster Bay</td>
        </tr>
      </tbody>
    </table>
    <p align="center">&nbsp;  </p>
    <p align="center">Saturdays:  St. Andrew's Lutheran Church, <a href="https://www.google.com/maps/place/30+Brooksite+Dr,+Smithtown,+NY+11787/@40.8544115,-73.2058214,17z/data=!3m1!4b1!4m2!3m1!1s0x89e83a6ca62729b5:0x9b6d6958298592" target="new">30 Brooksite Drive, Smithtown, NY  11787</a>, 8pm <br>
      Sundays:  Christ Church, <a href="https://www.google.com/maps/place/61+E+Main+St,+Oyster+Bay,+NY+11771/@40.8722951,-73.5277255,17z/data=!3m1!4b1!4m2!3m1!1s0x89c2833b9d4ae8d7:0xea52cf271ad0e304" target="new">61 East Main St., Oyster Bay, NY  11771</a> 3pm   </p>
   <footer id="foot"><p><strong>We are a 501 C(3) organization and all contributions are tax deductible.</strong></p>
        <p>Subscription <a href="Tickets.html">tickets</a> for 5 programs: $125, $100 seniors<br>
          General <a href="Tickets.html">Admission:</a> $30, $25 Seniors, $20 “in your twenties”, $15 Students, Children 0-10 free
        </p>
    </footer> 

  </div>
</body>
</html>