---
title: Corporate
date: 2015-11-17 01:00:51
layout: page
---
<link rel="stylesheet" href="./swiper.min.css">

<!-- Demo styles -->
<style>
    .title {
        font-weight: bold;
        font-size: 20px;
    }

    .subtitle {
        font-weight: bold;
        font-size: 14px;
    }

    .smalltitle {
        font-weight: bold;
        font-size: 14px;
    }

    .just {
        font-size: 14px;
    }

    .makeover {
        font-size: 12px;
    }

    html,
    /*body {*/
    /*position: relative;*/
    /*height: 100%;*/
    /*}*/
    /**/

    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
    }

    .swiper-container {
        width: 100%;
        /*height: 25%;*/
        height: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-slide-min {
        /*text-align: center;*/
        /*font-size: 18px;*/
        background: #fff;
    }
</style>


<!-- Swiper -->
<!--<div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">Slide 100</div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
            <div class="swiper-slide">Slide 4</div>
            <div class="swiper-slide">Slide 5</div>
            <div class="swiper-slide">Slide 6</div>
            <div class="swiper-slide">Slide 7</div>
            <div class="swiper-slide">Slide 8</div>
            <div class="swiper-slide">Slide 9</div>
            <div class="swiper-slide">Slide 10</div>
        </div>
    </div>-->
<section class="container">


    <div class="row">
        <div class="swiper-pagination" align="center"></div><br>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-container">

            <div class="swiper-scrollbar"></div>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <p class="just" align="center"><span class="title">Corporate Training Services</span></p>

                    <p>

                        <p class="just"><a name="makeover"><span class="subtitle">3O Minute (mock) Corporate Make Over</span>
                            </a>

                            <p>In 30 minutes she&#8217;ll have your team improvising, learning the proper way to sit and rise
                                from a chair and singing the blues. While utilizing real and not so real theater techniques.
                                A creative approach and a great surprise when they find out it have all been in fun!<br/>

                                <p class="just"><span class="subtitle">Corporate Improvisation</span></p>

                                <p>Do your employees have a hard time getting the point no matter how many times you make it?
                                    Let us help you by giving them the skills to become more corporate friendly by using
                                    a non threatening environment to build their confidence and expand their creativity.

                                    <p>Unlock your employee&#8217;s creative skills while sharpening their ability to communicate.
                                        Your group will be divided into teams; taught basic improvising skills and then asked
                                        to perform what they've learned in an improvised format; either a sketch, game or
                                        a song. Find out why the word &#8220;Yes&#8221; will be the key to your success.
                                        (Depending on size of group, time needed could vary.)</p>

                                    <p><br/>

                                        <p class="just"><span class="smalltitle"><span
                                    class="subtitle">Whose job is it anyway?</span></span> <br/>
                                            <br/> Let Nancy Lombardo create a tailor made improvisational comedy show utilizing
                                            user friendly information about your company and employees. The show is performed
                                            by professional seasoned comedians and improvisers with audience participation.
                                            (Music optional)
                                            <br/>

                                            <p class="just"><span class="subtitle">Media Coach </span><br/>
                                                <br/> You will be instructed in acting techniques that have helped everyone
                                                from CEO's, authors, models, television and film personalities achieve a
                                                higher performance level their fields. Whether in front of the camera or
                                                in front of the boardroom, learn how to effectively enter a room, sit, and
                                                stand to get your point across through body language and voice control. (Private
                                                coaching available in the New York City area.) </p>

                                            <p class="just"><br/>
                                                <!-- END PARAGRAPH 1 -->
                                                <!-- START PARAGRAPH 2 --><span class="subtitle">Comedy Doctor </span><br/>
                                                <br/> Are people yawning at the thought of yet another tedious presentation?
                                                Let Nancy add punch to your lines and help you make them sit up and listen.
                                                An experienced comedy writer for stage and television and a Member of the
                                                Writers Guild East, Nancy has used her comedy writing skills to polish shows,
                                                speeches and even help with best man's speech at weddings. Whether a speech
                                                or just a couple of quick jokes to go with your presentation, she is willing
                                                to help accommodate your needs. </p>

                                            <p class="just"></p>

                </div>
                <div class="swiper-slide">

                    <p class="title" align="center">NANCY IN THE PRESS</p>

                    <!--<p class="smalltitle"><span>click to read any article:       </span></p>-->
                    <!-- </td></tr>
                        <tr><td><br /></td></tr> -->
                    <tr>
                        <td>
                            <!--<div align="center"><span class="style1">as seen on WABC TV Eyewitness News...</span><br/>-->
                            <!--<br/>-->
                            <!--<img alt="eyewitness news" src="picts/eyewitness.jpg"/></div>-->
                            <!--<p class="just">&lt;!&ndash; COPY AND PASTE CODE BELOW TO MAKE A NEW PARAGRAPH &ndash;&gt;-->
                            <!-- START PARAGRAPH 1 -->
                            <table cellspacing="0" cellpadding="0" width="100%" border="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p class="subtitle" span>WHAT CRITICS ARE SAYING ABOUT NANCY LOMBARDO! </span>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- PICTURE TABLE -->
                            <p><em>"101 st Congress of Unnatural Acts&#8230;Nancy Lombardo, a gifted
                                        impressionist whose riffs of Sally Struthers, Gracie Allen, Kate Hepburn and
                                        others click into each other to form an extremely funny necklace of
                                        vibrato-voiced characters." </em></p>

                            <p align="right"><strong>- John Michael Koroly, Fringe Propaganda </strong></p>

                            <p><em> </em></p>

                            <p><em>&#8220;Spunky, appealing and almost always amusing&#8230; Lombardo really
                                        crackles&#8230; In her quieter moments she can be dry, sly and just as
                                        effective.&#8221; </em></p>

                            <p align="right"><strong>- Bill Ervilino, New York Post </strong></p>

                            <p><em> </em></p>

                            <p><em>&#8220;The Jazz Housewife (comedian Nancy Lombardo) was one of my favorite
                                        performers, with her incongruous up-ending of the quotidian.&#8221; </em></p>

                            <p align="right"><strong>- Jon Wettingfeld, The Music Paper </strong></p>

                            <p><strong> </strong></p>

                            <p><em></em><em>&#8220;Nancy Lombardo raises our laughter quotient (and perhaps a
                                        few eyebrows) She steps far over the boundaries of what some might consider good
                                        taste, but the world she enters is one of pure comedy.&#8221; </em></p>

                            <p align="right"><strong>- Martin Schaeffer, New York Native </strong></p>

                            <p><em> </em></p>

                            <p><em></em><em>&#8220;The seemingly boundless energy, wit and perpetually
                                        percolating brain matter that is Nancy Lombardo </em>.&#8221; </p>

                            <p align="right"><strong>- Diane Stefani, New York Post </strong></p>

                            <p></p>

                            <p><em>Lombardo is the longest standing member of The First Amendment&#8230;most
                                        brilliant improvisation, worthy of &#8220;Saturday Night Live&#8221; at it's
                                        riskiest.&#8221; </em></p>

                            <p align="right"><strong>- Stephen Holden, New York Times </strong></p>

                            <p></p>

                            <p><strong><em>Nun Lust &#8230;" </em></strong><em>Nancy Lombardo and Ed Karvoski
                                        Jr. Give new meaning to the phrase fallen Catholic with their musical comedy
                                        review&#8230;More fun than CCD and not one collection basket ." </em></p>

                            <p align="right"><strong>- Time Out New York </strong></p>

                            <p></p>

                            <p><em>&#8220;Lombardo has so much energy and zest it's impossible not to like her.&#8221; </em>
                            </p>

                            <p align="right"><strong>- Bob Harrington, New York Post </strong></p>

                            <p></p>

                            <p><em>&#8220;Nancy Lombardo is an exceptionally talented actress, comedian and
                                        charmer. (Her) quick comebacks and creative repartee explore new comedy
                                        frontiers.&#8221; </em></p>

                            <p align="right"><em></em><strong>- Entertainment, N.Y. </strong></p>

                            <p><em>"Comedy genius Nancy Lombardo&#8230; </em></p>

                            <p align="right"><strong>- Show News Magazine</strong></p>

                        </td>
                    </tr>
                    <!--</tbody>-->
                    <!--</table>-->

                </div>
                <div class="swiper-slide">
                    <p class="title" align="center"> Bio</p>
                    <p class="subtitle">
                        Nancy Lombardo has performed her unique comedy from coast to coast. She was the leading member of the award winning comedy
                        troupe The First Amendment, performing with the likes of Robin Williams and Bruce Willis. Her skills
                        as a writer and comedy coach have made her a sought after talent in New York. She was comedy consultant
                        to John Leguizamo's Off-Broadway hit Mambo Mouth and wrote additional material for his HBO Special,
                        The Talent Pool. She was also staff writer and performer for Leguizamo’s H.I.P- FOX comedy show,
                        “House of Buggin." Recent credits include The Colin Quinn Show NBC, Saturday Night Live (featured
                        background regular). On “All my Children” and as a Court Judge on PBS. Ms. Lombardo has been featured
                        as a writer and performer on radio, network and cable television including, Comedy Tonight, Nickelodeon
                        and the Comedy Channel. She also can be seen weekly on her Public access show The Nancy Lombardo
                        Show channel 56/83/34 NYC and live worldwide WWW.MNN.ORG Lifestyle channel. Fridays 7PM EST. Nancy
                        is the host of Comedy Concepts Blog Talk Radio. http://www.blogtalkradio.com/Comedy-Concepts She
                        has written for Penthouse and Cracked magazine and created Ms. Quotable, a comic strip for Lady's
                        Circle Magazine and is the writer and voices for John Goodwin's computer animated short, “The Robot
                        Factory."

                    </p>

                    <p class="subtitle">
                        Nancy is the creator of MOMEDY™, part of the International Mamapalooza Festival held every May in New York City. As a member
                        of the prestigious Friars Club she roasted Vincent Pastore of Soprano fame. Chosen for Friars Club
                        Team Spirit Award. Nancy was chosen as “Hot comedy Picks 2012” in American Entertainment Magazine.
                        Nancy has been featured in numerous periodicals and her comedy was recently featured in the book
                        “If you give a mom a martini”. Nancy also has the audacity to have sung for Barbra Streisand and
                        be proud of it. Her Cd‘s COLOR ME CRAZY, MARY CHRISTMAS, AND MOMEDY LIVE, an outside the comedy box
                        collection of music and comedy, are now ready for public consumption at http://www.cdbaby.com/Artist/NancyLombardo
                    </p>
                    <!-- <p class="title"> Partial Client List</p>

                    <p class="title"> Parenteau Guidance</p>
                    <p class="title"> Sony</p>
                    <p class="title"> Pfizer</p>
                    <p class="title"> Playboy Publications</p>
                    <p class="title">Better Homes and Gardens</p>
                    <p class="title">Meredith Group</p>
                    <p class="title">Newsweek Budget Travel Inc.</p>
                    <p class="title">PepsiCo</p>
                    <p class="title"> Sequa Corporation</p>
                    <p class="title">Brooklyn Union Gas</p>
                    <p class="title">Darien Country Club</p>

                    <p class="title">*Plus: numerous private parties, clubs and events</p> -->
                </div>


                <div class="swiper-slide">
                    <p class="title" align="center"> THE NANCY LOMBARDO TEAM BUILDING IMPROVISATIONAL COMEDY WORKSHOP</p>
                    <p class="subtitle">
                        No matter what your profession who doesn’t wish they were quicker on their feet. Nancy’s special approach to performance
                        level improvisation and comedy will have even beginners thinking they are pros. Sharpen your confidence
                        skills by starting with the theatrical fun basics. Through fun games and actual theater exercises.
                        Nancy will improve your posture, voice and trusting your instincts and before you know it you’ll
                        be standing out instead of just standing up in public. Ideal for corporate or private events. All
                        levels welcome.

                    </p>
                    <p class="title" align="center">NANCY LOMBARDO'S3O MINUTE (MOCK) CORPORATE MAKE OVER
                    </p>

                    <p class="subtitle">
                        Nancy is the creator of MOMEDY™, part of the International Mamapalooza Festival held every May in New York City. As a member
                        of the prestigious Friars Club she roasted Vincent Pastore of Soprano fame. Chosen for Friars Club
                        Team Spirit Award. Nancy was chosen as “Hot comedy Picks 2012” in American Entertainment Magazine.
                        Nancy has been featured in numerous periodicals and her comedy was recently featured in the book
                        “If you give a mom a martini”. Nancy also has the audacity to have sung for Barbra Streisand and
                        be proud of it. Her Cd‘s COLOR ME CRAZY, MARY CHRISTMAS, AND MOMEDY LIVE, an outside the comedy box
                        collection of music and comedy, are now ready for public consumption at http://www.cdbaby.com/Artist/NancyLombardo
                    </p>

                </div>



            </div>

        </div>
    </div>
</section>