--- title: Music date: 2015-11-17 01:00:51 layout: page ---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
	<!-- BEGIN CONTENT -->
	<div class="col-md-12 col-sm-12">
		<div class="content-page">
			<div class="row margin-bottom-30">
				<!-- BEGIN INFO BLOCK -->
				<div class="col-md-12">
					<h2 class="no-top-space">Landscapes</h2>

				</div>
				<!-- END INFO BLOCK -->

				<!-- BEGIN CAROUSEL -->
				<div class="container" style="margin-top:30px;">

					<div class="row-fluid">

						<div class="span11">
							<div class="row-fluid">
								<div class="span11" style="margin-bottom:80px;">

									<p>download and install 7zip <a href="http://www.7-zip.org/"><span class="post-title"> select Download .msi 64-bit x64 1 MB</span></a>
										<p>

								</div>

							</div>
						</div>



						<div class="span11">
							<div class="row-fluid">

								<a href=".\music\disk1thru4.m3u" download><span class="post-title">play list disk1thru4.m3u</span></a>



							</div>

						</div>
						<div class="span11">
							<div class="row-fluid">

								<a href=".\music\Music1.zip" download><span class="post-title">disk1</span></a>



							</div>

						</div>
						<div class="span11">
							<div class="row-fluid">

								<a href=".\music\Music2.zip" download><span class="post-title">disk2</span></a>



							</div>

						</div>
						<div class="span11">
							<div class="row-fluid">

								<a href=".\music\Music3.zip" download><span class="post-title">disk3</span></a>



							</div>

						</div>
						<div class="span11">
							<div class="row-fluid">

								<a href=".\music\Music4.zip" download><span class="post-title">disk4</span></a>



							</div>

						</div>
						<div class="span11">
							<div class="row-fluid">

								<a href=".\music\Music5.zip" download><span class="post-title">disk5</span></a>



							</div>

						</div>
						<div class="span11">
							<div class="row-fluid">

								<a href=".\music\Music6.zip" download><span class="post-title">disk6</span></a>



							</div>

						</div>
						<div class="span11">
							<div class="row-fluid">

								<a href="brookbridge.apk" download><span class="post-title">brookbridge android app</span></a>



							</div>

						</div>
					</div>
				</div>
				<!-- END CAROUSEL -->
			</div>

  <div class="container">


        <div class="row-fluid">
            <div class="span11">
                <div class="row-fluid">

                    <a href="http://plnkr.co/edit/cvrFCo?p=preview"><span class="post-title">Code Sample Animation Dec 2013</span></a>
                </div>

                <div class="row-fluid">


                    <a href="http://sample3.gtz.com:8000/login"><span class="post-title">Adjuster Sample  </span></a>

                </div>
                <div class="row-fluid">


                    <a href="https://github.com/johntom/"><span class="post-title">Git-hub </span></a>

                </div>

                <div class="row-fluid">

                    <a href="http://run.plnkr.co/plunks/YM4If9zFRqnnDw5kFE2c/"><span class="post-title">Plunker used for Angular Meetup at Google- Dynamic Charts</span></a>                    Code Sample:
                    <a href="http://plnkr.co/edit/YM4If9zFRqnnDw5kFE2c?p=preview"><span class="post-title">edit</span></a>


                </div>
                <div class="row-fluid">
                    <a href="http://run.plnkr.co/plunks/BXFqYzG6iyyHVz5r2KBD/"><span class="post-title">Angular/JQuery Layout</span></a>                    Code Sample:
                    <a href="http://plnkr.co/edit/BXFqYzG6iyyHVz5r2KBD?p=preview"><span class="post-title">edit</span></a>

                </div>
                <div class="row-fluid">
                    <a href="http://plunker.co/users/johntom/"><span class="post-title">All my plunks</span></a>
                </div>

                <div class="row-fluid">
                    <a href="http://gallery.meledandri.com/index.html#/"><span class="post-title">Angular/Flikr project featuring Nina Meledandri's art</span></a>
                </div>

                <div class="row-fluid">
                    <a href="http://plnkr.co/edit/q37m3N?p=preview"><span class="post-title">Angular project featuring Angular-Local-Storage</span></a>
                </div>


                <!--    <div class="row-fluid">
                        <a href=	"http://plnkr.co/edit/N7jex1hNU0eMcvSI8zzi?p=preview"><span class="post-title">Angular PapaParse</span></a>
						</div-->

                <div class="row-fluid">
                    <a href="http://plnkr.co/edit/YdtkxbjJFPJgSiQjlzWi?p=preview"><span class="post-title">Angular PapaParse  Json2csv and csv2json</span></a>

                    <!--   <div class="row-fluid">
                        <a href=	"GraphDatabases.pdf"><span class="post-title">GraphDatabasesPdf</span></a>
                    </div-->
                    <!--   <div class="row-fluid">
                        <a href=	"GraphDatabases.pdf"><span class="post-title">GraphDatabasesPdf</span></a>
                    </div-->
                    <div class="row-fluid">
                        <a href="Production.js"><span class="post-title">Production sample js file</span></a>
                    </div>

                </div>
                <div class="row-fluid">
                    <a href=".\_books\Getting_Started_with_D3.pdf"><span class="post-title">D3 Pdf</span></a>
                </div>

            </div>
        </div>


    </div>
    <!-- /.container -->
		

		</div><!-- END CONTENT -->
	</div><!-- END 12 -->
	
</div>
<!-- END SIDEBAR & CONTENT -->